.container{
    padding: 0;
    margin: 2%;
}

.header{
    margin-top: 1%;
    margin-bottom: 3%;
    height: 10%;
}

.left-column{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    box-decoration-break: slice;
}

.right-column{
    position: relative;
    width: 80%;
    height: 100%;
}

.create-task-button{
    position: static;
    width: 100%;
    margin-bottom: 10px;
}
